body{
  background-color: #2f2f31; /* Sets the background of the whole build to Bastille */
}

/* Index Page Formatting Start */
.NavigationBar {
  background-color: #ffff; /* Sets the colour to white */
  overflow: hidden; /*Rest of content on the page will be hidden if overflowed*/
}

/* Styles the links inside the navigation bar */
.NavigationBar a {
  float: right; /*Floats elements to the right of its container*/
  color: 	#000000; /* Sets the colour to black */
  text-align: center; /*Centers the text*/
  padding: 14px 16px; /*Sets the space between the contents and the border */
  text-decoration: none; /*No underlines of the links */
  font-size: 23px; /*Sets the size of the font*/
  font-family: monospace; /*Sets the font typeface for the navigation */
  margin-right: 10px;  /*Sets the margins of the element */
}

/* Change the color of links on hover */
.NavigationBar a:hover {
  background-color: #ccbeda; /*Sets colour of the hover in the navigation to be a pastel purple */
  color: 	#000000; /* Sets the colour to black */
}

/* Add a color to the active/current link */
.NavigationBar a.active {
  background-color: #ccbeda; /*Sets colour of the link in the navigation to be a pastel purple */
  color: #000000; /* Sets the colour to black */
}

img{
  margin-left: 15px;  /*Sets the margins of the element */
}

.HelloContainer > h1{
  font-size: 60px; /*Sets the size of the font*/
  color: #ffff; /*Sets the colour to white */
  text-align: center; /*Centers the text*/
}

.ProfileImagePic{
  margin-right: 50px;  /*Sets the margins of the element */
  float: left; /*Floats elements to the left of its container*/
  border-radius: 10%; /*Defines the corners of the element - Gives it a slightly rounded effect */
  border: #000000 2px ridge; /*Sets a black border */
  margin-bottom: 20px;  /*Sets the margins of the element */
}


HomeContent{
  margin-left: 20px;  /*Sets the margins of the element */
}

.Welcome {
  margin-top: 30px;  /*Sets the margins of the element */
  margin-right: 75px;  /*Sets the margins of the element */
  margin-left: 20px;  /*Sets the margins of the element */
  float: right; /*Floats elements to the right of its container*/
  width: 70%; /*Sets the width of the element to 70*/
  height: 50%; /*Sets the height of the element to 70*/
  text-align: center; /*Centers the text*/
  color: #ffff; /* Sets the colour to white */
}

.Welcome p {
  font-size: 25px; /*Sets the size of the font*/
}

.link_1 {
  margin-left: 55px;  /*Sets the margins of the element */

}

.LinksText {
  margin-top: 18%;  /*Sets the margins of the element */
  font-style: italic; /*Sets the font to be italic*/
  margin-right: 200px;  /*Sets the margins of the element */
}

.CVLink{
  font-size: 30px; /*Sets the size of the font*/
}
/* Index Page Formatting End */


/* Skills Page Formatting Start */
.SkillContainer{
  float: left; /*Floats elements to the left of its container*/
  color: #ffff; /* Sets the colour to white */
  padding-left: 120px; /*Sets the space between the contents and the border */

}

.SkillContainer > h3{
  color: #ffff; /*Sets the colour to white*/
}

.SkillHeader{
  font-size: 20px; /*Sets the size of the font*/
  color: #ffff; /* Sets the colour to white */
  text-align: center; /*Centers the text*/
  margin-top: 40px;  /*Sets the margins of the element */

}


* {box-sizing:border-box} /*Makes sure the padding of the skill box behaves correctly */

/* Container for skill bars */
.container {
  width: 400%; /*Sets the width of the element to 400*/
  background-color: #ddd; /* Sets a grey background */
}

.skills {
  text-align: right; /* Aligns the text to the right */
  padding-right: 20px; /* Adds padding to the right */
  line-height: 40px; /* Set the line-height to center the text inside the skill bar, and to expand the height of the container */
  color: #ffff; /* White text color */
}
/*Sets the length of the skill bars */
.MicrosoftOffice {width: 90%; background-color: #BEDACC;} /* Pastel Green */
.OperatingSystem {width: 80%; background-color: #DACCBE;} /* Pastel Beige */
.MicrosoftProject {width: 60%; background-color: #CECAE2;} /* Pastel Purple */
.Photoshop {width: 70%; background-color: #BEDACC;} /* Pastel Green */
.HTML {width: 78%; background-color: #DACCBE;} /* Pastel Beige */
.CSS {width: 80%; background-color: #CECAE2;} /* Pastel Purple */
.JavaScript {width: 50%; background-color: #BEDACC;} /* Pastel Green */
.Python {width: 50%; background-color: #DACCBE;}/* Pastel Beige */
.Php {width: 50%; background-color: #CECAE2;} /* Pastel Purple */
/* Skills Page Formatting End */

/* Contact Page Formatting Start */
.ContactHeader{
  text-align: center; /*Centers the text*/
  color: #ffff; /* Sets the colour to white */
  font-size: 30px; /*Sets the size of the font*/
}

.ContactText{
  color: #ffff; /* Sets the colour to white */
  font-size: 23px; /*Sets the size of the font*/
  text-align: center; /*Centers the text*/
}

.FormContainer{
  margin-top: 10px;  /*Sets the margins of the element */
  padding-left: 100px; /*Sets the space between the contents and the border */
}

.MediaContainer{
  float:right; /*Floats elements to the right of its container*/
  padding-right: 600px; /*Sets the space between the contents and the border */
  color: #ffff; /* Sets the colour to white */
}

.linkedin{
  padding-right: 80px; /*Sets the space between the contents and the border */
  display: flex; /* Displays the image element as a block-level container */
}

.linkedin > p{
  color: #ffff; /* Sets the colour to white */
  font-size: 25px; /*Sets the size of the font*/
  padding-left: 15px; /*Sets the space between the contents and the border */
}

.BitBucket{
  padding-right: 80px; /*Sets the space between the contents and the border */
  display: flex; /* Displays the image element as a block-level container */
}

.BitBucket > p{
  color: #ffff; /* Sets the colour to white */
  font-size: 25px; /*Sets the font size*/
  padding-left: 15px; /*Sets the space between the contents and the border */
}

.LinksonHomepageText {
  margin-top: 18%; /*Sets the margins of the element */
  font-style: italic; /*Sets the font to be italic*/
  margin-right: 200px; /*Sets the margins of the element */
  color: #ffff; /* Sets the colour to white */
}
/* Contact Page Formatting End */
